@{
    ViewData["Title"] = "Get a Passcode Homie";
}

<div class="text-center">
    <h2>Random Passcode (passcode @ViewBag.Count)</h2>
    <h1 class="border border-dark">@ViewBag.Code</h1>
    <a class="btn btn-lg btn-primary shadow mb-5" href="/click">Generate</a>
</div>
